.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center; /* Align items to the center */
  justify-content: flex-start; /* Start the content from the top */
  font-size: calc(10px + 2vmin);
  color: white;
  padding-right: 10px; /* Add some padding to the right */
}

.App-header nav {
  align-self: flex-start; /* Align the nav to the start (left) */
}

.App-header nav button {
  margin-right: 10px;
}

.App-header nav button a {
  text-decoration: none;
  color: inherit;
}

.App-link {
  color: #61dafb;
}